@page "/Manage/Layers"
@using LayerHub.Shared.Dto.MapLayer
@using Microsoft.FluentUI.AspNetCore.Components

@layout ManageLayout

<PageTitle>Layers</PageTitle>

<div mb-3>
    <h1 class="h1">Layers</h1>
</div>

<PaginatedListView T="MapLayerDto" CancellationToken="ComponentDetached"
                   GetUrl="/Layer" 
                   CreateUrl="/Manage/Layers/Create"
                   EditUrl="@("/Manage/Layers/{Id}/Edit")" >
    <PropertyColumn TProp="string" TGridItem="MapLayerDto" Property="@(e => e.Name)"/>
    <PropertyColumn TProp="string" TGridItem="MapLayerDto" Property="@(e => e.Description ?? "")"/>
</PaginatedListView>

@code {
    
}