@page "/Manage/Features"
@using LayerHub.Shared.Dto.MapFeature
@using Microsoft.FluentUI.AspNetCore.Components
@layout ManageLayout

<PageTitle>Features</PageTitle>

<div mb-3>
    <h1 class="h1"> Features</h1>

</div>

<PaginatedListView T="MapFeatureDto" CancellationToken="ComponentDetached"
                   GetUrl="/Feature" 
                   CreateUrl="/Manage/Features/Create"
                   EditUrl="@("/Manage/Features/{Id}/Edit")" >
    <PropertyColumn TProp="string" TGridItem="MapFeatureDto" Property="@(e => e.Name)"/>
    <PropertyColumn TProp="string" TGridItem="MapFeatureDto" Property="@(e => e.DisplayName ?? "")"/>
    <PropertyColumn TProp="string" TGridItem="MapFeatureDto" Property="@(e => e.Description ?? "")"/>
</PaginatedListView>

@code {
    
}